$white: #fff;
$red: #ea352d;
$blue: #0099e8;
$fb-blue: #385185;
$font-black: #333;
$font-blue: #00f;
$font-gray: #888;
$bg-gray: #f5f5f5;
$btn-gray: #aaa;
$high-light-gray: #fafafa;
$light-gray: #eee;
$gray: #ccc;
$dark-gray: #979797;
$flash-font-green: #5cb85c;
$flash-bg-green: #c6e6c6;
$flash-font-red: #d9534f;
$flash-bg-red: #f7b7b7;
$evaluation-good-red:#ef5185;
$evaluation-better-yellow:#fba933;
$evaluation-bad-blue:#6ab5d8;