%header
  = render 'shared/sub-header'

%section
  .registration-panel
    .create-new
      新規会員登録
    .registration-form
      .registration-form__contents
        =link_to customer_info_signup_index_path, class: "registration-form__contents__btn" do
          .registration-form__contents__btn__reg-mail
            = fa_icon 'far envelope'
            .registration-form__contents__btn__reg-mail__btn-mail
              メールアドレスで登録する
              
        =link_to destroy_user_session_path, method: :delete,class: "registration-form__contents__btn" do
          .registration-form__contents__btn__reg-fb
            %i.fab.fa-facebook-square
            .registration-form__contents__btn__reg-fb__btn-fb
              Facebookで登録する

        =link_to "#", class: "registration-form__contents__btn--g" do  
          .registration-form__contents__btn--g__reg-google
            = image_tag 'https://img.icons8.com/color/48/000000/google-logo.png', alt: 'google-icon', class: 'registration-form__contents__btn--g__reg-google__icon-google'
            Googleで登録する
%footer.footer--bottom
  = render 'shared/sub-footer'
 
