@import "../config/variable";
@import "../mixin/mixin";

#member-info {
  .progress__list__text__status {
    background: $mrcr-red;
  }
  .progress__list__text__status-bar {
    background: $mrcr-red;
  }
}
#phone-number {
  .progress__list__text__status {
    background: $mrcr-red;
  }
  .progress__list__text__status-bar {
    background: $mrcr-red;
  }
}
#address {
  .progress__list__text__status {
    background: $mrcr-red;
  }
  .progress__list__text__status-bar {
    background: $mrcr-red;
  }
}
#payment {
  @include progress-bar-font-style;
  .progress__list__text__status {
    background: $mrcr-red;
  }
}
