= stylesheet_link_tag  'progress_bar/fifth', media: 'all'
%header
  = render 'shared/signup-header'
%section
  .customer-entry
    .customer-entry__top
      会員登録完了
    .customer-entry__complete
        