.header
  .header__log
    %hi
      %a{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?837758460"}/
.main
  .create__new
    新規会員登録
  .registrarion__form
    .registration__contents
      =link_to "#", class: "contents__btn" do
        .reg__mail
          = fa_icon 'envelope'
          .btn__mail
            メールアドレスで登録する
            
      =link_to "#", class: "contents__btn" do
        .reg__fb
          = fa_icon 'facebook-square'
          .btn__fb
            Facebookで登録する

      =link_to "#", class: "contents__btn--g" do  
        .reg__google
          %img{:class =>"icon_google", :src => "https://img.icons8.com/color/48/000000/google-logo.png"}/
          .btn__google
            Googleで登録する
.footer
  .footer__contents
    .content
      .content__fst
        =link_to "#", class: "contents__btn--g" do
          プライバシーポリシー
      .content__sec
        =link_to "#", class: "contents__btn--g" do
          メルカリ利用規約
      .content__thr
        =link_to "#", class: "contents__btn--g" do
          特定商取引に関する規約          
  .footer__log
    %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?837758460", :width => "80"}/
  .footer__name
    @ 2019 Mercari