= stylesheet_link_tag  'progress_bar/second', media: 'all'
%header
  = render 'shared/signup-header'
%selection 
.customer-entry
  .customer-entry__top
    電話番号の確認
  .customer-entry__body
    .customer-entry__body__form
      .entry-content
      .entry-content__text
        携帯電話の認証
      %input{type: "text",value_name:"nickename",placeholder:"携帯電話の番号を入力",class:"entry-content__input-default"}
      %p{class:"entry-content__text__word"}本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      =link_to "#", class: "entry-bottom__next__btn" do
        .entry-bottom__next
          SMSを送信する
      %p{class:"entry-content__text__word"}※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .entry-bottom__help
        = link_to '電話番号の確認か必要な理由', '#', class: 'entry-bottom__help'
        =fa_icon'chevron-right'

%footer
  = render 'shared/sub-footer'