.search-list
  %h2.result kesasakuの検索結果
  %h2.case 0件表示
  %section.picks
    %section.picks__container
      -if @products
        .picks__container--content
          - @products.each do |product|
            %section.item
              %figure.item__photo
                = image_tag product.images[0].name.url, alt: "実装その1", class: "lazyload"
              .item__body
                %h3.item__body--name.font-2 
                  = product.name
                .item__body--num
                  .price.font-5 
                    ¥
                    = product.price
      -else
        %h1.test 検索結果なし