.signup-header
  .signup-header__logo
    %a{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?837758460"}/

  .progress
    %ul.progress__list
      %li.progress__list__text#member-info
        会員情報
        .progress__list__text__status
        .progress__list__text__status-bar
      %li.progress__list__text#phone-number
        電話番号認証
        .progress__list__text__status
        .progress__list__text__status-bar
      %li.progress__list__text#address
        お届け先住所入力
        .progress__list__text__status
        .progress__list__text__status-bar
      %li.progress__list__text#payment
        支払い方法
        .progress__list__text__status
        .progress__list__text__status-bar--end
      %li.progress__list__text#completed
        完了
        .progress__list__text__status
