.notice-list {
  display: none;
  &__item {
    position: relative;
    min-height: 80px;
    padding: 16px;
    border-bottom: 1px solid $light-gray;
    background-color: $white;
    box-sizing: border-box;
    &__icon {
      position: absolute;
      top: 16px;
      left: 16px;
      width: 48px;
    }
    &__arrow {
      position: absolute;
      top: 50%;
      right: 16px;
      font-size: 25px;
      transform: translateY(-50%);
    }
    &__message {
      margin: 0 40px 0 68px;
      font-size: 14px;
      &__time {
        position: relative;
        color: $font-gray;
        &__icon {
          position: absolute;
          font-size: 20px;
        }
        &__text {
          margin-left: 25px;
        }
      }
    }
  }
  &__go-list {
    margin-bottom: 40px;
    padding: 16px;
    background-color: $white;
    text-align: center;
    &__btn {
      display: block;
      height: 56px;
      background-color: $light-gray;
      color: $font-black;
      font-size: 14px;
      line-height: 56px;
      &:hover {
        background-color: $high-light-gray;
      }
    }
  }
}
