.popup-mypage {
  position: absolute;
  display: none;
  top: 45px;
  right: 0;
  width: 350px;
  background-color: $white;
  z-index: 20;
  &__user-info {
    position: relative;
    height: 90px;
    background-image: image-url('bg-mypage.png');
    background-size: 350px 150px;
    background-repeat: no-repeat;
    &__area {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      color: $font-black;
      text-align: center;
      text-decoration: none;
      line-height: 1;
      &__icon {
        @include mypage-user-icon;
      }
      &__nickname {
        margin-top: 6px;
        font-size: 16px;
      }
      &__number {
        margin: 18px 0;
        font-size: 14px;
        &__text {
          display: inline-block;
          margin-left: 8px;
          color: $font-black;
          &__count {
            margin: 0 2px;
          }
        }
      }
      &__earning {
        position: relative;
        display: inline-block;
        width: 320px;
        margin-top: -1px;
        padding: 0 8px;
        background-color: $high-light-gray;
        border: 1px solid $light-gray;
        color: $font-black;
        text-align: left;
        line-height: 40px;
        &__count {
          position: absolute;
          right: 25px;
        }
        &__icon {
          position: absolute;
          top: 50%;
          right: 8px;
          font-size: 18px;
          color: $gray;
          transform: translateY(-50%);
        }
        &:hover {
          color: $font-gray;
        }
        &:hover > .popup-mypage__user-info__area__earning__count {
          color: $font-gray;
        }
      }
    }
  }
  &__menu {
    margin-top: 185px;
    &__list {
      position: relative;
      height: 49px;
      padding: 16px;
      border-top: 1px solid $light-gray;
      box-sizing: border-box;
      background-color: $high-light-gray;
      line-height: 14px;
      &:hover {
        background-color: $bg-gray;
      }
      &:hover > .popup-mypage__menu__list__icon {
        position: absolute;
        top: 12px;
        right: 10px;
        color: $font-black;
        transition: all .5s ease 0s;
      }
      &__btn {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
      }
      &__icon {
        position: absolute;
        top: 12px;
        right: 15px;
        color: $gray;
        font-size: 25px;
      }
    }
  }
}
