.product-todo {
  display: flex;
  position: relative;
  min-height: 80px;
  padding: 16px;
  background-color: $white;
  border-bottom: 1px solid $bg-gray;
  color: $font-black;
  &:hover {
    background-color: $high-light-gray;
  }
  &__images-area {
    width: 48px;
    height: 48px;
    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__message {
    width: 570px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.3;
    &__time {
      position: relative;
      height: 25px;
      color: $font-gray;
      &__icon {
        position: absolute;
        top: 2px;
        font-size: 20px;
      }
      &__text {
        position: absolute;
        top: 2px;
        margin-left: 25px;
      }
    }
  }
  &__chevron-right {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    pointer-events: none;
  }
}
