%section.tab-container
  %ul.tab-container__list
    %li.tab-container__list__item
      %span.tab-container__list__item__text
        お知らせ
    %li.tab-container__list__item
      %span.tab-container__list__item__text
        やることリスト
