%section.tab-head
  %h2.tab-head__text
    購入した商品

%section.tab-container
  %ul.tab-container__list
    %li.tab-container__list__item.tab--purchased.active--purchased
      %span.tab-container__list__item__text
        取引中
    %li.tab-container__list__item.tab--purchased
      %span.tab-container__list__item__text
        過去の取引

%section.tab-contents
  - if buyed_products.present?
    %ul.trade-list.tab-contents--purchased.show--purchased
      %section.listing-product
        = render partial: "product", collection: buyed_products
  - else
    %ul.trade-list.tab-contents--purchased.show--purchased
      %li.trade-list__item
        %section.not-found
          = image_tag "logo-gray.png", class: 'not-found__icon'
          .not-found__text
            取引中の商品がありません

  - if past_trade_products.present?
    %ul.trade-list.tab-contents--purchased
      %section.listing-product
        = render partial: "product", collection: past_trade_products
    
  - else  
    %ul.past-trade-list.tab-contents--purchased
      %li.past-trade-list__item
        %section.not-found
          = image_tag "logo-gray.png", class: 'not-found__icon'
          .not-found__text
            過去に取引した商品がありません
