.breadcrumb {
  height: 48px;
  border-top: 1px solid $light-gray;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .16);
  background-color: $white;
  &__list {
    display: flex;
    padding: 0 16px;
    &__item {
      width: 1010px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 48px;
      letter-spacing: .5px;
      a {
        color: $font-black;
        font-size: 14px;
        &:hover{
          text-decoration: underline;
          opacity: .7;
        }
      }
      .current {
        font-size: 14px;
        background-color: $white !important;
      }
      i {
        margin: 0 8px;
        color: $font-gray;
        font-weight: bold;
      }
    }
  }
}
