.main-header {
  position: relative;
  height: 100px;
  width: 100%;
  background: #fff;
  padding-top: 8px;
  &__top {
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    width: 1021px;
    margin: 0 auto;
    box-pack: justify;
    h1 a img {
      height: 40px;
      width: 200px;
      vertical-align: middle;
    }
    &--form {
      position: relative;
      input {
        width: 820px;
        padding: 0 42px 0 10px;
        border: 1px solid $gray;
        border-radius: 4px;
        background: $bg-gray;
        font-size: 16px;
        line-height: 46px;
      }
      i {
        position: absolute;
        right: 0;
        padding: 17px 15px;
        cursor: pointer;
      }
    }
  }
  &__under {
    display: flex; 
    align-items: center;
    box-pack: justify;
    justify-content: space-between;
    height: 44px;
    width: 1020px;
    margin: 0 auto;
    padding: 0;
    line-height: 44px;
    &--left {
      float: left;
      &--nav {
        position: relative;
        padding: 0 11px;
        line-height: 44px;
        cursor: pointer;
        .category-search, .brand-search {
          float: left;
          position: relative;
          height: 44px;
          margin: 0 3px 0; 
          padding: 14px 11px 0;
          line-height: 44px;
          cursor: pointer;
          h2 {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
            i {
              color: $red;
            }
            span {
              font-weight: bold;
              color: $font-black;
            }
          }
        }
      }
    }
    &--right {
      float: right;
      &__li {
        position: relative;
        display: inline-block;
        height: 44px;
        margin: 7px 3px 3px auto;
        &__todo-count {
          position: absolute;
          top: 25%;
          width: 20px;
          height: 20px;
          background-color: $red;
          border-radius: 50%;
          font-size: 15px;
          color: $white;
          font-weight: bold;
          text-align: center;
          line-height: 20px;
          transform: translateY(-50%);
          pointer-events: none;
        }
        i {
          color: $font-black;
          opacity: .7;
        }
        span {
          padding-right: 14px;
          color: $font-black;
        }
        .face {
          width: 32px;
          margin-right: 10px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
      .new {
        display: inline-block;
        span {
        background-color: $red;
        color: $white;
        font-size: 14px;
        border: 1px solid;
        border-color: $red;
        border-radius: 4px;
        padding: 8px 10px;
        }
      }
      .logged {
        display: inline-block;
        span {
        background-color: $white;
        color: $blue;
        font-size: 14px;
        border: 1px solid;
        border-color: $blue;
        border-radius: 4px;
        padding: 8px 10px;
        }
      }
    }
  }
}
