.mypage-side-menu {
  width: 280px;
  margin-right: 40px;
  &__list {
    &__item {
      position: relative;
      height: 49px;
      padding: 16px;
      border-top: 1px solid #eee;
      box-sizing: border-box;
      background-color: $white;
      line-height: 14px;
      &:hover {
        background-color: #fafafa;
      }
      &:hover > .mypage-side-menu__list__item__icon {
        position: absolute;
        top: 12px;
        right: 10px;
        color: $font-black;
        transition: all .5s ease 0s;
      }
      &__btn {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
      }
      &__icon {
        position: absolute;
        top: 12px;
        right: 15px;
        color: #ccc;
        font-size: 25px;
      }
    }
  }
  &__heading {
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
  }
}