.signup-header {
  height: 128px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  &__logo {
    height: 49px;
    width: 185px;
    margin: 0 60px 0 30px;
    padding-top: 40px;
  }
}

.progress {
  &__list {
    padding-top: 40px;
    border: 0;
    &__text {
      min-width: 40px;
      margin-right: 35px;
      padding: 0;
      font-size: 12px;
      color: $font-gray;
      position: relative;
      display: inline-block;
      text-align: center;
      letter-spacing: 0;
      &__status {
        height: 12px;
        width: 12px;
        margin: 8px auto 0;
        background: $progress-bar-gray;
        border-radius: 50%;
        position: absolute;
        left: 40%;
        z-index: 10;
      }
      &__status-bar {
        @include progress-status-bar-style(115px);
        &--end {
          @include progress-status-bar-style(90px);
        }
      }
    }
  }
}
