.login_panel {
  width: 456px;
  margin: 0 auto;
  background-color: $white;
}
.no-account {
  text-align: center;
  border-bottom: solid;
  border-color: $bg-gray;
  border-width: 1px;
  font-size: 14px;
  padding: 40px 64px;
  &__btn {
    text-decoration: none;
    &__signup {
      display: block;
      margin: 8px 0 0;
      border: 1px solid $blue;
      background: $blue;
      color: $white;
      line-height: 40px;
    }
  }
}
.login-method {
  padding: 32px 64px;
}
.fb-login {
  text-decoration: none;
  &__btn {
    position: relative;
    font-size: 30px;
    background: $fb-blue;
    display: block;
    color: $white;
    .fa {
      position: absolute;
      top: 10px;
      left: 18px;
    }
    &__name {
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      text-align: center;
    }
  }
}
.google-login {
  text-decoration: none;
  color: $font-black;
  &__btn {
    position: relative;
    margin: 16px 0 0;
    border: $dark-gray solid 1px;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    &__icon {
      position: absolute;
      top: 15px;
      left: 18px;
      width: 20px;
    }
  }
} 
.login-input {
  padding: 24px 64px 32px;
  &__form {
    height: 48px;
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid $gray;
    background: $white;
    line-height: 1.5;
    font-size: 16px;
  }
  &__recapcha__image {
    width: 310px;
    margin-top: 10px
  }
  &__btn {
    text-decoration: none;
    &__login{
      background-color:$red;
      color: $white;
      text-align: center;
      margin-top: 24px;
      line-height: 48px;
      font-size: 14px;
    }
  }
}
.login-pass__lost {
  margin-top: 40px;
  &__here {
  text-decoration: none;
  color: $blue;
    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }
}


