* {
  //margin: 0;//商品の画像配置に影響
  //padding: 0;//商品の画像配置に影響
  /*border-style: soild;
  border-width: 0;
  background-repeat: no-repeat;
  font-size: inherit;*/
  //line-height: 44px;
  text-decoration: none;//前回の会議より
}

html {
  /*display: inline-block;
  height: 100%;
  overflow-y: auto;*/
}

body {
  /*display: inline-block;*/
  /*position: relative;*/
  /*margin: 8px;
  background: #f5f5f5;*/
  //color: #333;
  //font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  //font-size: 14px;
  //line-height: 1;
}