// 共通で使用するSCSSはここに定義していきましょう。
*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background: $bg-gray;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: $font-black;
  line-height: 1;
}

a{
  color: #0099e8;
  text-decoration: none;
}

.hide {
  display: none;
}

.footer--bottom{
  height: 220px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}