// 共通で使用するSCSSはここに定義していきましょう。
*{
  box-sizing: border-box;
}

a{
  color: #0099e8;
  text-decoration: none;
}

.hide {
  display: none;
}

.footer--bottom {
  height: 220px;
  margin: 0 auto;
  text-align: center;
}