// 共通で使用するSCSSはここに定義していきましょう。
a{
  color: #0099e8;
  text-decoration: none;
}

.hide {
  display: none;
}

.footer--bottom {
  height: 220px;
  margin: 0 auto;
  text-align: center;
}

.sub-footer {
  width: 456px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  &__contents {
    font-size: 12px;
    display: flex;
    & a {
      text-decoration: none;
      color: #333;
    }
    &--fst{
      margin-left: 35px;
    }
    &--sec{
      margin-left: 16px;
    }
  }
  &__logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    &:hover{
      opacity: 0.8;
    }
  }
  &__copyright {
    margin-top: 10px;
    font-size: 12px;
    color: #333;
    text-decoration: none;
  }
}