
* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  text-decoration: none;
  line-height:44px;
}

html {
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  display: block;
  color: -internal-root-color;
}

body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  display: block;
  margin: 8px;
}


.default-container{
  position: relative; 
  
  header.pc-header.visible-pc{      
    background: #fff;
    position: relative;
    z-index: 1001;
    height: 100px;
    
    .pc-header-inner{  
      position: static;
      margin: 0px 80px;
      .pc-header-top{
        width: 1020px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        
      }
        h1 a img{
          width: 234px;
          height: 40px;
          margin: 0 0 0 50px;
          vertical-align: middle;
        }
      form.pc-header-form{
        
        width: 841px;
        input.input-default{
          background: #f5f5f5;
          border-radius: 4px;
          padding: 0 42px 0 10px;
          width: 100%;
          height: 40px;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          line-height: 1.5;
          font-size: 16px;
        }
      } 
  }

    .pc-header-nav-box {
      width: 1020px;
      padding: 0 0 0 0;
      margin: 0px 80px;
      height: 44px;     
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      display: block;
      line-height:44px;
     
      
      nav.l-left {  
               
        float: left; 
        ul.pc-header-nav {
          position: relative;
          display: inline-block;
          padding: 0 11px;
          line-height:44px;  
          cursor: pointer;
              li{        
                line-height:44px; 
                height: 44px;  
                margin: 7px 3px  0;
                position: relative;
                display: inline-block;
                padding: 0 11px;
                cursor: pointer;  
                h2{               
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 1.4;      
                }
               }
        }
      }
      .l-right {
             
        ul.pc-header-user-nav{
          float: right;
          
            li{
              height: 44px;
              margin: 7px 3px 3px auto;
              display: inline-block;
            }
        }
      }   
    }
   }
  main {
    margin: 0 auto;
    display: block;
    width: 1030px;
    height: 390px;
    
    div{
      float: left;
      margin: 30px 0 0 0;
      h2{
        font-size: 60px;
        line-height: 1.2;        
      }
      p{
        margin: 16px 0 0;
        font-size: 16px;
        line-height: 1.77778;
      }
      .top-main-visual-store.clearfix{     
        a.pull-left img{
          margin: 24px 0 0;
          line-height: 0; 
        }
      }
    }
    img.back{
      float: right;
      width: 100px;
      height: 390px;
      width: 440px;
      
    }
   }
  
  section.pickup-container{
    h2.pickup-head{
      font-size: 28px;
      text-align: center;
      line-height: 1.4;
      margin-top: 13px;
    }
    section.items-box-container.clearfix{
      width: 940px;
      text-align: center;
      margin: 0 auto;
     
      float: bottom;
      h3.text-center{
        text-align: center;
        margin: 26px 11px;
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        a{
          font-size: 22px;        
          color: #0099e8;
          text-decoration: none;
        }
      }
      .items-box-content.clearfix{
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 10px;
        white-space: nowrap;

        section.items-box{
          display: inline-block;
          overflow: hidden;
          width: 20%;
          margin: 0px 20px;
          a{
            figure.items-box-photo{
              overflow: hidden;
              position: relative;
              width: 100%;
              height: 0;
              padding: 0 0 100%;
              img{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                .lazyload{
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 1;
                }
              }
            }
            .items-box-body{
              padding: 8px;
              height: 110px;
              background-color: #fff;
              h3.items-box-name{
                overflow: hidden;
                position: relative;
                font-weight: 400;
                height: 3em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
                .font-2{
                  font-size: 16px;
                  font-weight: 400;
                  color: #333;
                } 
              }
              .items-box-num{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                margin: 8px 0 0;
                .items-box-price.font-5{
                  font-size: 20px;
                  font-weight: 600;
                  color: #333;
                }
                .font-2{

                }
              }
            }
            
          }
        }
      }
      .view-all{
        text-align: right;
        color: red;
        text-decoration: none;
        text-align: right;
        padding: 0 0 30px;
        width: 91%;
      }
    }
  }
}
  aside.app-banner{ 
    /*background:   url(/jp/assets/img/common/jp/top/download_bg_pc.jpg?84491468);*/
    /*background-position: center;*/
    /*background-size: cover;*/
      overflow: hidden;
      position: relative;
      width: 760px;
      height: 260px;
      margin: 0 auto;
      color: #fff;
      
    .app-banner-pc{
      width: 760px;
      display: block;
      float: left;
      .app-banner-pc-inner{ 
        width: 420px;
        float: left;
        
        color: black;
        h2{
          margin: 0;
          font-size: 24px;
          line-height: 1.4;
        }
        p{
          margin: 10px 0 0;
          font-size: 35px
        }
        .app-banner-icon.clearfix{
          margin: 20px 0 0;
          display: block;
          line-height: 68px;
          height: 68px;
          width: 420px; 
          float: left;
          figure{
            img{
              vertical-align: middle;
              float: left;
              
            }
          }
          ul {
            margin: 0 0 0 24px;
            line-height: 68px;
            list-style: none;
            li{
              float: left;
              a{
                display: block;
                line-height: 68px;
                margin: 0 0 0 20px;
              }
            }
          }
        }
      }
      > figure{
        display: inline-block;
        top: 0;
        right: 0;
        bottom: 0;
        float: right; 
        vertical-align: middle;
        display: inline-block;
        > img{
          width: 300px;
          

        }
       
      }
    
      
    }
  }
  footer.global-footer{
    padding: 0 20px 10px 20px;
    background: #212121;
    color: #fff;
        
    nav.clearfix{
      width: 1020px;
      margin: 0 182.5px;
      .footer-cell{
        display: block; 
        float: left;   
        margin: 18px 0 0;
        padding: 0 20px 0 0;
     
        
        .full-width{
          padding: 50px;
        }
        .footer-nav-lang {
          margin-top: 35px;
          padding: 0
        }
        
        h2.footer-head{
          color: #fff;
          font-size: 16px;
          font-weight: 100;
        }
        .inner-footer-cell{
          float: left;
          padding-left: 10px;
          vertical-align: top;
        }
        ul{
          li{         
            a{
              color: #fff;
              font-size: 10px;
            }
          }
        }       
      }
      .footer-cell.full-width{
        padding: 0 50px 0 0;
      }
    }
    .footer-bottom{
      background-color: #212121;
      display: inline-block;
      margin: 30px auto 20px;
      width: 1020px;
      
      
      a.footer-logo{
        display: block;
        float: left;
      }
      span.footer-copyright{
        display: block;
        float: right;
        font-size: 12px;
        width: 745px;
        text-align: center;
        
        
        

      }
    }
  }
  a.footer-sell-btn{
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background: #ea352d;
    color: #fff;
    text-align: center;

    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
  }
      



  







