.all-nav {
  main {
    height: 390px;
    width: 100%;
    background-image: image-url('main.jpg');

    .background {
      width: 1030px;
      margin: 0 auto;

      div {
        float: left;
        margin-top: 30px;

        h2 {
          font-size: 60px;
          font-weight: bold;
          line-height: 1.2;
        }

        p {
          margin-top: 16px;
          font-size: 16px;
          line-height: 1.77778;
        }

        .store {
          &__left {
            margin-top: 24px;
            line-height: 0;
          }
        }
      }

      .back {
        height: 390px;
        width: 440px;
        float: left;
      }
    }
  }

  .pickup {
    &__head {
      margin-top: 13px;
      font-size: 28px;
      line-height: 1.4;
      text-align: center;
    }

    &__container {
      width: 940px;
      margin: 0 auto;
      text-align: center;

      &--text-center {
        display: block;
        margin: 26px 11px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-weight: bold;
        font-size: 1.17em;
        text-align: center;

        a {
          color: $font-blue;
          font-size: 22px;
          text-decoration: none;
        }
      }

      &--content {
        width: auto;
        padding: 0 10px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .item {
          display: inline-block;
          box-shadow: -1px 1px 10px $dark-gray;
          margin: 0 20px;
          overflow: hidden;
          width: 20%;

          &__photo {
            position: relative;
            height: 0;
            width: 100%;
            padding-bottom: 100%;
            overflow: hidden;
            margin: 0;

              .lazyload {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
          }

          &__body {
            height: 110px;
            padding: 8px;
            background-color: $white;

            &--name {
              position: relative;
              height: 3em;
              overflow: hidden;
              color: $font-black;
              font-weight: 400;
              line-height: 1.5;
              white-space: normal;
              word-break: break-word;

              .font-2 {
                color: $font-black;
                font-size: 16px;
                font-weight: 400;
              }
            }

            &--num {
              align-items: center;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              justify-content: space-between;
              -ms-flex-align: center;
              -ms-flex-pack: justify;
              -webkit-box-align: center;
              -webkit-box-pack: justify;
              margin-top: 8px;

              .price.font-5 {
                color: $font-black;
                font-size: 20px;
                font-weight: 600;
              }
            }
          }
        }
      }

      .view-all {
        width: 91%;
        padding-top: 10px;
        padding-bottom: 30px;
        color: $font-blue;
        text-align: right;
        text-decoration: none;
      }
    }
  }
}

.banners-nav {
  height: 260px;
  width: 100%;
  background-image: image-url('home.jpg');

  .banners {
    position: relative;
    height: 260px;
    width: 760px;
    margin: 0 auto;
    overflow: hidden;
    color: $white;

    &__left {
      float: left;
      width: 420px;

      h2 {
        margin-top: 40px;
        font-size: 24px;
        line-height: 1.4;
      }

      p {
        margin-top: 10px;
        font-size: 35px;
      }

      &--icon {
        display: block;
        float: left;
        height: 68px;
        width: 420px;
        margin-top: 20px;
        line-height: 68px;

        figure img {
          float: left;
          vertical-align: middle;
        }

        ul {
          list-style: none;
          margin-left: 24px;
          line-height: 68px;

          li {
            display: block;
            float: left;
            margin-left: 20px;
            line-height: 68px;
          }
        }
      }
    }

    >figures {
      top: 0;
      right: 0;
      bottom: 0;
      vertical-align: middle;
      width: 760px;

      >img {
        height: 260px;
        width: 300px;
        padding-left: 20px;
      }
    }
  }
}

.main-footer {
  padding: 0 20px 10px;
  background: $font-black;
  color: $white;

  nav {
    margin: 0 182.5px;
    display: flex;

    .footer {
      display: block;
      margin-top: 18px;
      padding-right: 20px;

      &__head {
        color: $white;
        font-size: 16px;
        font-weight: 100;
      }
      &__fullwidth {
        padding-right: 50px;
      }
      &__navlang {
        margin-top: 18px;
        padding: 0;
      }
      &__innercell {
        display: flex;
        padding-left: 10px;
        vertical-align: top;
      }

      ul li {
        height: 18px;
        margin: 14px 18px 0 0;
        font-size: 12px;

        a {
          color: $white;
          height: 18px;
          opacity: .7;
        }
      }

      &__social {
        display: flex;

        .fab {
          margin-top: 30px;
          margin-right: 20px;
          color: $white;
        }
      }
    }
  }

  .footer-bottom {
    display: inline-block;
    margin: 30px 180px 20px;
    background-color: $font-black;
    text-align: center;

    &__logo {
      display: block;
      float: left;
    }

    &__copyright {
      display: block;
      width: 745px;
      font-size: 12px;
      text-align: center;
      margin-top: 8px;
    }
  }
}

.footer-sell-btn {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 1000;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: $red;
  color: $white;
  font-size: 22px;
  text-align: center;
  line-height: 44px;

  div {
    margin-top: 10px;
  }

  .fas.fa-camera {
    margin: auto;

  }
}


