.search-container{
  margin: 40px auto 40px;
  width: 1020px;
  .search { 
    width: 280px;
    display: inline-block;
    margin-right: 40px;
    &__sort select{
      height: 48px;
      width: 100%;
      padding: 0 16px;
      border: 1px solid $gray;
      background-color: $white;
    }
    &__details{
      padding: 16px;
      margin-top: 40px;
      background-color: $white;
      h3{
        font-size: 16px;
      }
      &--form-group{
        margin-top: 40px;
        label {
          display: block;
        }
        i+span{
          font-size: 14px;
          vertical-align: middle;
        }
        .input-basic{
          height: 48px;
          width: 100%;
          padding: 10px 16px 8px;
          margin: 8px 0 0;
          border-radius: 4px;
          border: 1px solid ;
          background: $white;
          line-height: 1.5;
        }
        .select-basic{
          height: 48px;
          width: 100%;
          padding: 10px 16px 8px;
          margin: 8px 0 0;
          border-radius: 4px;
          border: 1px solid ;
          background: $white;
          line-height: 1.5;
        }
        .check:first-child{
          margin: 16px 0 0 ;
        }
        .check{
          width: 45%;
          display: inline-block;
          vertical-align: middle;
          word-break: break-word;
          margin: 16px 0 0;
         
          label{
            display: inline-block;
            width: 70%;
          }
          &__box {
            display: inline-block;
            z-index: 1;
            width: 20px;
            height: 20px;
            transform: scale(1.5);
            border-radius: 2px;
            background: #fff;
            border: 1px solid #ccc;
            font-size: 10px;
            line-height: 17px;
            text-align: center;
            color: #fff;
            vertical-align: middle;
            
          }
          &__name label{
            display: inline;
            position: relative;
            word-break: break-all;
            width: 50%;
            
          }
        }
      }
      &--list {
        display: block;
        
      }
      &__btn{
          height: 48px;
          margin-top: 40px;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          color: $white;
          &--clear{
            background-color: gray;
            float: left;
            display: inline-block; 
            width: 40%;
          }
          &--complete{
            background-color: red;
            float: right;
            display: inline-block;
            width: 40%;
          }
      }
    }
  }
  .search-list{
    float: right;
    width: 700px;
    display: inline-block;
    .result{
      font-size: 18px;
    }
    .case{
      margin: 16px 0;
      font-size: 12px;
      color: #888;
    }
  }
  .root{
    width: 1020px;
    overflow: visible;
    width: 700px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
  }
}