.search-container {
  margin: 40px auto;
  width: 1020px;

  .search {
    display: inline-block;
    width: 280px;
    margin-right: 40px;

    &__sort select {
      height: 48px;
      width: 100%;
      padding: 0 16px;
      border: 1px solid $gray;
      background-color: $white;
    }

    &__details {
      padding: 16px;
      margin-top: 40px;
      background-color: $white;

      h3 {
        font-size: 16px;
      }

      &--form-group {
        margin-top: 40px;

        label {
          display: block;
        }

        i+span {
          font-size: 14px;
          vertical-align: middle;
        }

        .input-basic {
          height: 48px;
          width: 100%;
          padding: 10px 16px 8px;
          margin: 8px 0 0;
          border-radius: 4px;
          border: 1px solid;
          background: $white;
          line-height: 1.5;
        }

        .select-basic {
          height: 48px;
          width: 100%;
          padding: 10px 16px 8px;
          margin: 8px 0 0;
          border-radius: 4px;
          border: 1px solid;
          background: $white;
          line-height: 1.5;
        }

        .check:first-child {
          margin: 16px 0 0;
        }

        .check {
          display: inline-block;
          width: 45%;
          word-break: break-word;
          margin: 16px 0 0;
          vertical-align: middle;

          label {
            display: inline-block;
            width: 70%;
          }

          &__box {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            background: $white;
            border: 1px solid $white;
            font-size: 10px;
            line-height: 17px;
            text-align: center;
            color: $white;
            z-index: 1;
            vertical-align: middle;
            transform: scale(1.5);
          }

          &__name label {
            display: inline;
            position: relative;
            width: 50%;
            word-break: break-all;
          }
        }
      }

      &--list {
        display: block;
      }

      &__btn {
        height: 48px;
        margin-top: 40px;
        border: 1px solid transparent;
        color: $white;
        font-size: 14px;
        line-height: 48px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;

        &--clear {
          float: left;
          display: inline-block;
          width: 40%;
          background-color: $dark-gray;
        }

        &--complete {
          float: right;
          display: inline-block;
          width: 40%;
          background-color: $red;
        }
      }
    }
  }

  .search-list {
    display: inline-block;
    float: right;
    width: 700px;

    .result {
      font-size: 18px;
    }

    .case {
      margin: 16px 0;
      font-size: 12px;
      color: $font-gray;
    }

    .picks {
      &__head {
        margin-top: 13px;
        font-size: 28px;
        line-height: 1.4;
        text-align: center;
      }
  
      &__container {
        width: 900px;
        margin: 0 auto;
        text-align: center;
  
        &--text-center {
          display: block;
          margin: 26px 11px;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0;
          margin-inline-end: 0;
          font-weight: bold;
          font-size: 1.17em;
          text-align: center;
  
          a {
            color: #00f;
            font-size: 22px;
            text-decoration: none;
          }
        }
  
        &--content {
          width: auto;
          padding: 0 10px;

          .item {
            display: inline-block;
            box-shadow: -1px 1px 10px #979797;
            margin: 10px 20px;
            overflow: hidden;
            width: 20%;
  
            &__photo {
              position: relative;
              height: 0;
              width: 100%;
              padding-bottom: 100%;
              overflow: hidden;
              margin: 0;
  
                .lazyload {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 1;
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
            }
  
            &__body {
              height: 110px;
              padding: 8px;
              background-color: #fff;
  
              &--name {
                position: relative;
                height: 3em;
                overflow: hidden;
                font-weight: 400;
                line-height: 1.5;
                white-space: normal;
                word-break: break-word;
  
                .font-2 {
                  color: #333;
                  font-size: 16px;
                  font-weight: 400;
                }
              }
  
              &--num {
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                justify-content: space-between;
                -ms-flex-align: center;
                -ms-flex-pack: justify;
                -webkit-box-align: center;
                -webkit-box-pack: justify;
                margin-top: 8px;
  
                .price.font-5 {
                  color: #333;
                  font-size: 20px;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }

  

  .root {
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    overflow: visible;
    white-space: normal;
  }
}

