
* {
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0;
  font-size: inherit;
  line-height: 44px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  color: -internal-root-color;
  display: block;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #333;
  background: #f5f5f5;
  display: block;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 8px;
  min-height: 100%;
  position: relative;
}


.all-nav {
  position: relative;

  header {
    background: #fff;
    height: 100px;
    position: relative;
    width: 100%;
    z-index: 1001;
    .header {
      position: static;
      margin: 0px 80px;
      &__top {
        align-items: center;
        box-pack: justify;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        margin: 0px 80px;
        width: 1020px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-flex-pack: justify;
        h1 a img {
          height: 40px;
          vertical-align: middle;
          width: 234px;
        }
        &--form {
          width: 841px;
          input.input-default {
            background: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            height: 48px;
            line-height: 1.5;
            padding: 10px 16px 8px;
            transition: all ease-out .3s;
            width: 100%;
            -webkit-transition: all ease-out .3s;
          }
        }
      }
      &__under {
        align-items: center;
        box-pack: justify;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 44px;
        justify-content: space-between;
        line-height: 44px;
        margin: 0px 80px;
        padding: 0 0 0 0;
        width: 1020px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-flex-pack: justify;
        &--left {
          float: left;
          &--nav {
            cursor: pointer;
            display: inline-block;
            line-height: 44px;
            padding: 0 11px;
            position: relative;
            li {
              cursor: pointer;
              display: inline-block;
              height: 44px;
              line-height: 44px;
              margin: 7px 3px 0;
              padding: 0 11px;
              position: relative;
              h2 {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.4;
              }
            }
          }
        }
  
        &--right {
            float: right;
            li {
              height: 44px;
              margin: 7px 3px 3px auto;
              display: inline-block;
            }
        }
      }
    } 
  }
  main {
    display: block;
    height: 390px;
    width:100%;
    background: url(https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg);
    .background{
      margin: 0 auto;
      width: 1030px;
    div {
      float: left;
      margin: 30px 0 0 0;
      h2 {
        font-size: 60px;
        line-height: 1.2;
      }
      p {
        font-size: 16px;
        line-height: 1.77778;
        margin: 16px 0 0;
      }
      .store {
        &__left {
          line-height: 0;
          margin: 24px 0 0;
        }
      }
    }

    .back {
      height: 390px;
      float: right;
      width: 440px;
    }
   }
  }

  .pickup {
    &__head {
      font-size: 28px;
      line-height: 1.4;
      margin-top: 13px;
      text-align: center;
    }
    &__container {
      margin: 0 auto;
      text-align: center;
      width: 940px;
      &--text-center {
        display: block;
        font-weight: bold;
        font-size: 1.17em;
        margin: 26px 11px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
        a {
          color: #0099e8;
          font-size: 22px;
          text-decoration: none;
        }
      }
      &--content {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 10px;
        white-space: nowrap;
        width: auto;
        .item {
          display: inline-block;
          margin: 0px 20px;
          overflow: hidden;
          width: 20%;
            &__photo {
              height: 0;
              padding: 0 0 100%;
              overflow: hidden;
              position: relative;
              width: 100%;
              img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                .lazyload {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 1;
                }
              }
            }
            &__body {
              background-color: #fff;
              height: 110px;
              padding: 8px;
              &--name {
                font-weight: 400;
                height: 3em;
                line-height: 1.5;
                overflow: hidden;
                position: relative;
                white-space: normal;
                word-break: break-word;
                .font-2 {
                  color: #333;
                  font-size: 16px;
                  font-weight: 400;
                }
              }
              &--num {
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                justify-content: space-between;
                margin: 8px 0 0;                              
                -ms-flex-align: center;
                -ms-flex-pack: justify;
                -webkit-box-align: center;
                -webkit-box-pack: justify;                                                
                .price.font-5 {
                  color: #333;
                  font-size: 20px;
                  font-weight: 600;
                }         
              }
            }
        }
      }
      .view-all {
        color: red;
        padding: 0 0 30px;
        text-align: right;
        text-decoration: none;
        width: 91%;
      }
    }
  }
}


.banner-nav{
  height: 260px;
  width: 100%;
  background: url(https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?40435716);

.banner {
  color: #fff;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 760px;
    &__left {
      float: left;
      width: 420px;
      h2 {
        font-size: 24px;
        line-height: 1.4;
        margin: 0;
      }
      p {
        font-size: 35px;
        margin: 10px 0 0;
      }
      &--icon {
        display: block;
        float: left;
        height: 68px;
        line-height: 68px;
        margin: 20px 0 0;            
        width: 420px;        
        figure img {
          float: left;
          vertical-align: middle;
        }
        ul {          
          line-height: 68px;
          list-style: none;
          margin: 0 0 0 24px;
          li {
              float: left;
              display: block;
              line-height: 68px;
              margin: 0 0 0 20px;
          }
        }
      }
    }
    >figure {
      display: inline-block;
      top: 0;
      right: 0;
      bottom: 0;
      vertical-align: middle;
      >img {
        width: 300px;
      }
    }


  
}
}

footer {  
  background: #212121;
  color: #fff;
  padding: 0 20px 10px 20px;
  nav {
    margin: 0 182.5px;
    width: 1020px;    
    .footer {
      display: block;
      float: left;
      margin: 18px 0 0;
      padding: 0 20px 0 0;
      &__head {
        color: #fff;
        font-size: 16px;
        font-weight: 100;
      }
      &__fullwidth {
        padding: 0 50px 0 0;
      }
      &__navlang {
        margin-top: 18px;
        padding: 0
      }
      &__innercell {
        float: left;
        padding-left: 10px;
        vertical-align: top;
      }
      ul li {
        height: 18px;
        margin: 14px 0 0;
        font-size: 12px;
        a {
            color: #fff;
            
            height: 18px;
            opacity: .7;
        }
      }
    }
    
  }

  .footer__bottom {
    background-color: #212121;
    display: inline-block;
    margin: 30px 180px 20px;
    width: 1020px;
    text-align: center;
    &--logo {
      display: block;
      float: left;
    }
    &--copyright {
      display: block;
      font-size: 12px;
      text-align: center;
      width: 745px;      
    }
  }
}

a.footer-sell-btn {
  background: #ea352d;
  border-radius: 50%;
  color: #fff;
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  position: fixed;
  right: 32px;
  text-align: center;
  width: 160px;
  z-index: 1000;
  .icon-camera:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: '\e00b';

  }

}
