.listing-item-change-box
  = link_to '商品を編集する', edit_product_path(@product), class: 'listing-item-change-box__edit-btn'
  %p.listing-item-change-box__text or
  = link_to '出品を一旦停止する', edit_product_path(@product), class: 'listing-item-change-box__stop-btn'
  = link_to '出品を再開する', edit_product_path(@product), class: 'listing-item-change-box__restart-btn'
  = link_to 'この商品を削除する', edit_product_path(@product), class: 'listing-item-change-box__delete-btn'