- flash.each do |message_type, message|
  %div{class: "flash #{message_type}"}= message

.product
  -# = image_tag @product.images[0].name.url
  -# = @product.name
  - @images.each do |image|
    = image_tag image.name.url
    %p ------------------------------

= render 'products/listing-item-change-box', product: @product