.sell-container{
  width: 700px;
  margin: 0 auto;
  background-color: $white;
  &__head{
    padding: 35px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  &__form{
    border-top: 1px solid $light-gray;
    .upload-box{
      padding: 40px;
      &__head{
        font-size: 16px;
        font-weight: bold;
      }
      p{
        margin-top: 8px;
        line-height: 1.5;
      }
      &__drop-box{
        position: relative;
        width: 100%;
        min-height: 162px;
        margin: 16px auto 0;
        background: $bg-gray;
        border: 1px dashed $gray;
        text-align: center;
        cursor: pointer;
        &__file{
          display: none;
        }
        &__text{
          position: absolute;
          top: 35%;
          left: 16px;
          right: 16px;
          font-size: 14px;
          font-weight: bolder;
          text-align: center;
          line-height: 1.5;
        }
      }
    }
    .sell-content{
      padding: 40px;
      border-top: 1px solid $light-gray;
      &__group{
        margin-top: 40px;
        &:first-child{
          margin-top: 0;
        }
        .entry-content__input-default{
          display: block;
          width: 100%;
        }
        .entry-content__textarea-default{
          display: block;
          box-sizing: border-box;
          min-height: 104px;
          width: 100%;
          max-width: 100%;
          padding: 10px;
          border: 1px solid $gray;
          background: $white;
          font-size: 16px;
          line-height: 1.5;

          &:valid {
            border: 1px solid $blue;
          }
      
          &:invalid {
            border: 1px solid $red;
          }
        }
      }
      &--flex{
        display: flex;
        justify-content: space-between;
        padding: 40px;
        border-top: 1px solid $light-gray;
      }
      &__head{
        color: $font-gray;
        font-size: 14px;
        font-weight: bold;
        .form-question{
          @include form-question;
        }
      }
      &__form-box{
        width: 400px;
        margin: 0;
        #product_brand_name {
          width: 100%;
        }
        .entry-content__select-box{
          margin: 8px 0 0;
          position: relative;
          background: $white;
          &__default{
            z-index: 2;
            padding: 0 16px;
            height: 48px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid $gray;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            -webkit-appearance: none;

            &:valid {
              border: 1px solid $blue;
            }
        
            &:invalid {
              border: 1px solid $red;
            }
          }
          .fa{
            position: absolute;
            right: 16px;
            top: 35%;
            color: $font-gray;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke: 1px $white;
            pointer-events: none;
          }
        }
      }
    }
    .selling-price{
      display: flex;
      justify-content: space-between;
      padding: 40px;
      border-top: 1px solid $light-gray;
      &__head{
        color: $font-gray;
        font-size: 14px;
        font-weight: bold;
        .form-question{
          @include form-question;
        }
      }
      &__form-box{
        width: 400px;
        margin: 0;
      }
      &__group{
        display: flex;
        justify-content: space-between;
        padding: 24px 0;
        border-top: 1px solid $gray;
        line-height: 48px;
        &:first-of-type{
          padding: 0 0 24px;
          border: 0;
        }
        &__right{
          display: flex;
          position: relative;
          width: 50%;
          .entry-content__input-default{
            width: 100%;
            margin-left: 10px;
            padding-right: 10px;
            text-align: right;
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
          & span{
            position: absolute;
            right: 0;
          }
        }
      }
      &__group--thin{
        display: flex;
        justify-content: space-between;
        height: 14px;
        padding: 24px 0;
        border-top: 1px solid $gray;
      }
      &__group--bold{
        display: flex;
        justify-content: space-between;
        padding: 24px 0;
        border-top: 1px solid $gray;
        line-height: 48px;
        
        &__left{
          font-size: 16px;
          font-weight: bold;
        }
        &__right{
          font-size: 34px;
        }
      }
    }
    .sell-btn-box{
      padding: 40px;
      border-top: 1px solid $light-gray;
      & p{
        line-height: 1.5;
      }
      &__submit{
        @include submit-btn(40px 0 0 0, 100%, $red)
      }
      &__return{
        @include submit-btn(24px auto 0, 45%, $btn-gray)
      }
    }
  }
}