.sell-container{
  width: 700px;
  margin: 0 auto;
  background-color:#fff;
  .sell-container__head{
    padding: 35px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  }
  .sell-container__form{
    border-top: 1px solid #eee;
    &__upload-box{
      width: 620px;
      padding: 40px;
      &__head{
        font-weight: bold;
        font-size: 16px;
      }
      p{
        margin-top: 8px;
        line-height: 1.5;
      }
      &__drop-box{
        margin: 16px auto 0;
        position: relative;
        width: 100%;
        min-height: 162px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        text-align: center;
        &__file{
          display: none;
        }
        &__text{
          position: absolute;
          top: 35%;
          left: 16px;
          right: 16px;
          text-align: center;
          font-size: 14px;
          font-weight: bolder;
          line-height: 1.5;
        }
      }
    }
    &__content{
      padding: 40px;
      border-top: 1px solid #eee;
      &__group{
        margin-top: 40px;
        &:first-child{
          margin-top: 0;
        }
        .entry-content__textarea-default{
          display: block;
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
          box-sizing: border-box;
        }
      }
      &--flex{
        display: flex;
        justify-content: space-between;
        padding: 40px;
        border-top: 1px solid #eee;
      }
      &__head{
        color: #888;
        font-size: 14px;
        font-weight: bold;
        .form-question{
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #0099e8;
          color: #fff;
          line-height: 14px;
          font-size: 12px;
          font-weight: normal;
          text-align: center;
          text-decoration: none;
        }
      }
      &__form-box{
        width: 400px;
        margin: 0;
        .entry-content__select-box{
          margin: 8px 0 0;
          position: relative;
          background: #fff;
          .entry-content__select-default{
            -webkit-appearance: none;
            z-index: 2;
            height: 48px;
            width: 100%;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
          }
          .fa{
            position: absolute;
            right: 16px;
            top: 35%;
            color: #888;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke: 1px #fff;
          }
        }
      }
      &__group--flex{
        display: flex;
        justify-content: space-between;
        padding: 24px 0;
        border-top: 1px solid #ccc;
        line-height: 48px;
        &:first-of-type{
          padding: 0 0 24px;
          border: 0;
        }
        &--thin{
          display: flex;
          justify-content: space-between;
          padding: 24px 0;
          border-top: 1px solid #ccc;
          height: 14px;
        }
        &__right{
          width: 50%;
          display: flex;
          position: relative;
          .entry-content__input-default{
            margin-left: 10px;
            padding-right: 10px;
            text-align: right;
          }
          & span{
            position: absolute;
            right: 0;
          }
        }
      }
      &__group--flex--bold{
        display: flex;
        justify-content: space-between;
        padding: 24px 0;
        border-top: 1px solid #ccc;
        line-height: 48px;
        &__left{
          font-weight: bold;
          font-size: 16px;
        }
        &__right{
          font-size: 34px;
        }
      }
    }
    &__btn-box{
      padding: 40px;
      border-top: 1px solid #eee;
      & p{
        line-height: 1.5;
      }
      &__submit{
        margin-top: 40px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
      &__return{
        display: block;
        margin: 24px auto 0;
        width: 45%;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        font-size: 14px;
        line-height: 48px;
        text-align: center;
        transition: all ease-out .3s;
        cursor: pointer;
      }
    }
  }
}