@mixin progress-bar-font-style {
  color: $red;
  font-weight: bold;
}

@mixin progress-status-bar-style($width) {
  height: 2px;
  width: $width;
  background: $gray;
  position: absolute;
  top: 25px;
  left: 50%;
}

@mixin form-question{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $blue;
  color: $white;
  line-height: 14px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}
